{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/tools.cli {:mvn/version "1.0.194"}
        pdfboxing/pdfboxing {:mvn/version "0.1.14"}}
 :aliases {:main {:main-opts ["-m" "pdfreplace.main"]}
           :depstar {:replace-deps ; tool usage is new in 2.x
                     {seancorfield/depstar {:mvn/version "2.0.165"}}
                     :ns-default hf.depstar
                     :exec-args {}}
           :test {:extra-paths ["test"]
                  :extra-deps  {lambdaisland/kaocha {:mvn/version "1.0.732"}}
                  :main-opts ["-m" "kaocha.runner"]}}}